
	
<div class="form-group">
	<form action="/" method="POST">
		<input class="form-control" type="url" name="url" placeholder="Enter URL you wish to shorten!">
		<input class="form-control btn btn-default" type="submit"> 
	</form>
</div>
